:root {
	--bg-color: #ddd;
	--delemiter-color: #ddd;
	--active-view-color: #fff;
	--active-element-color: #fff;
	--checked-color: #6ae;
}

body {
	background: var(--bg-color);
	font-family: sans-serif;
	background-image: url(img/bg_tile.png);
	background-repeat: repeat-xy;
}

input[type='text'] {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	font-size: 16px;
	padding: 6px 0 4px 10px;
	border: 1px solid #bbbbbb;
	border-radius: 12px;
}

.full_view {
	padding: 20px;
}

.active_view {
	width: 900px;
	margin: 0 auto;
}

.logo {
	width: 400px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.top {
}

.user {
	float: right;
}

.user img {
	height: 64px;
	width: 64px;
}

.user p {
	text-align: center;
}

.top_space {
	margin-top: 40px;
}

.tabs {
	position: relative;
	margin: 0 auto;
}

.tabs_labels {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.tabs_labels label {
	margin-left: 12px;
	margin-right: 12px;
}

.tabs label {
	color: #555;
	cursor: pointer;
	display: block;
	float: left;
	width: 150px;
	height: 45px;
	line-height: 45px;
	position: relative;
	top: 2px;
	text-align: center;
}

.tabs input#tab_button_find, input#tab_button_register, input#tab_button_other {
	position: absolute;
	left: -9999px;
}

.find_params input#radio_fullname, input#radio_name_department {
	position: absolute;
	left: -9999px;
}

#radio_fullname:checked ~ #label_fullname,
#radio_name_department:checked ~ #label_name_department {
	top: 0;
	z-index: 3;
	border-bottom: 2px solid var(--checked-color);
	height: 40px;
}

#tab_button_find:checked  ~ .tabs_labels #tab_label_find,
#tab_button_register:checked  ~ .tabs_labels #tab_label_register,
#tab_button_other:checked  ~ .tabs_labels #tab_label_other {
	background: var(--active-view-color);
	border-color: var(--active-view-color);
	top: 0;
	z-index: 3;
	border-radius: 30px;
}

.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#tab_button_find:checked ~ .tabs_cont #tab_find,
#tab_button_register:checked ~ .tabs_cont #tab_register,
#tab_button_other:checked ~ .tabs_cont #tab_other {
	position: static;
	left: 0;
	opacity: 1;
}

.tabs_cont {
	background: var(--active-view-color);
	padding: 40px;
	border-radius: 20px;
	position: relative;
	z-index: 2;
}

.find_block {
}

.find_params {
	width: 300px;
	height: 45px;
	margin: 0 auto;
	text-align: center;
}

.tab>.employees {
	width: 800px;
	padding: 10px;
	margin: 0 auto;
	background: var(--active-element-color);
	border-radius: 20px;
}

.employees>.employee {
	border-bottom: 1px solid var(--delemiter-color);
	padding: 20px;
}

.employee_text {
	display: inline-block;
}

.employees_fullname {
	font-size: 13pt;
}

.employees_department {
	font-size: 10pt;
}

.info {
	display: block;
	display: inline-block;
	float: right;
}

.info img {
	width: 28px;
	height: 28px;
}
